.container{
    display:grid;
    grid-template-columns: 1fr 1fr ;
    grid-template-rows:1fr;

}
.board{
    padding:50px;
    height:700px;
    width:700px;
    background-color: rgb(218, 218, 218);
    display:grid;
    grid-area: 1 / 1 / 2 / 2;
    gap:50px;
    grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
    z-index: 0;
}

.hidden{
    display:none;
}

.square{
    height:200px;
    width:200px;
    background-color: white;
    font-size:200px;
    display:grid;
    align-items:center;
    justify-content: center;
}
form{
    display:grid;
    width:200px;
    
}